  repos:
  - repo: https://github.com/astral-sh/ruff-pre-commit
    rev: v0.3.4
    hooks:
      - id: ruff
        args: ["--fix", "--line-length=110"]


  - repo: https://github.com/psf/black
    rev: 24.3.0
    hooks:
      - id: black
        args: ["--line-length=110"]

  - repo: https://github.com/pre-commit/mirrors-isort
    rev: v5.10.1
    hooks:
      - id: isort
        args: ["--profile", "black", "--line-length", "110"]

  - repo: local
    hooks:
      - id: docformatter
        name: docformatter
        entry: docformatter
        language: system
        types: [python]
        args: ["--in-place", "--wrap-summaries=110", "--wrap-descriptions=110"]


  - repo: local
    hooks:
      - id: pytest
        name: pytest
        entry: pytest
        language: system
        types: [python]
        pass_filenames: false
